
.section-style {
	width:900px;
	margin-left: 50px;
}

.logo {
	padding-top: 20px;
	display: inline-block;
	width: 20%;
}

.links {
	width: 80%;
	text-align: right;
	padding-bottom: 20px;
	display: inline-block;
}

nav {
	background-color: #EEE;	
	height: 50px;
}


nav a { 
	font-size: 16px;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	color: purple;
}

nav li, section li {
	display: inline;
}


input { 
	width: 95%;
 }

 label {
 	padding-bottom: 10px;
 }

 img {
 	width: 35px;
 	height: 35px;
 }

#search-jobs {

	padding-top: 25px;
}

 .fleft {
	display: inline-block;
	width: 48%;
}

.button {
	width=33%;
	display: inline-block;
	clear: right;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #EEE;
}

.listings {
	width:100%;
}

.listings ul {
	list-style-type: none;
}

.listings li {
	padding: 10px;
}

.listings a {
	text-decoration: none;
}



