.logo {
	float: left;
	padding-top: 20px;
}

nav {
	background-color: #BBB;	
	height: 60px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: right;
}


nav a { 
	font-size: 16px;
	text-decoration: none;
	padding-left: 20px;
	color: purple;
}

nav ul {
	padding-top: 20px;
}

nav li {
	display: inline;
}